<h1> This Doctor's Appointment </h1>

<% @doctor.appointments.each do |appointment|%>
    <%= I18n.l(appointment.appointment_datetime, format: :long).split.insert(3, "at").join(" ") %>
    <%= link_to appointment.patient.name, patient_path(appointment.patient) %>
<% end %>